/* 
  Estilos base HTML / Globales que no dependen de tokens estrictos 
  o reset de elementos específicos.
  Envueltos en @layer base para que las utilidades de Tailwind los sobreescriban.
*/

@layer base {

  /* Reset Básico */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 1rem;
    /* default */
  }

  html,
  body {
    height: 100%;
  }

  body {
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
  }

  /* Reset de imágenes y multimedia */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* Reset de formularios y botones para heredar fuentes */
  input,
  button,
  textarea,
  select {
    font: inherit;
    color: inherit;
  }

  /* Evitar el text overflow */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  ul,
  ol {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
    text-wrap: nowrap;
  }
}