@theme inline {
  /* Tipo de Fuente (Roboto) */
  --font-sans: var(--font-roboto);

  /* Pesos de Fuente (regular, medium, semibold, bold) */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --text-h1: clamp(32px, 6vw, 76px);
  --text-h2: 60px;
  --text-h3: 54px;
  --text-h4: 40px;
  --text-h5: 28px;
  --text-body: 18px;
  --text-body-sm: 16px;

  --leading-heading: 1.1;
  --leading-body: 1.5;
}

@layer components {
  .heading-h1 {
    @apply text-h1 font-regular leading-heading tracking-[1px];
  }

  .heading-h1-bold {
    @apply text-h1 font-semibold leading-heading tracking-[-1px];
  }

  .heading-h2 {
    @apply text-h2 font-regular leading-heading;
  }

  .heading-h3 {
    @apply text-h3 font-regular leading-heading;
  }

  .heading-h4 {
    @apply text-h4 font-regular leading-heading;
  }

  .heading-h5 {
    @apply text-h5 font-regular leading-heading;
  }

  .text-body {
    @apply text-body font-regular leading-body;
  }

  .text-body-sm {
    @apply text-body-sm font-regular leading-body;
  }
}

:root {
  /* Fuente Roboto Base */
  --font-roboto: "Roboto", sans-serif;
}